body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.box {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: WHITE;
    padding: 15px;
    border-radius: 15px;
    width: 20%;
}

.box .caixa {
    padding: 30px;
    border-radius: 10px;
}

fieldset {
    border: 3px solid black;
}

legend {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: black;
    border-radius: 8px;
    color: white;
}

.inputBox {
    position: relative;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    color: black;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus~.labelInput,
.inputUser:valid~.labelInput {
    top: -20px;
    font-size: 12px;
    color: black;
}

#data_nascimento {
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#submit {
    background-color: black;
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover {
    background-image: linear-gradient(to right, rgb(0, 80, 172), rgb(80, 19, 195));
}

.btm {
    background-color: black;
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    border-color: rgb(35, 96, 4);
    ;
}

a {
    text-decoration: none;
    color: rgb(35, 96, 4);
    border: 3px solid rgb(23, 26, 30);
    border-radius: 10px;
    padding: 10px;
}

a:hover {
    background-color: rgb(15, 18, 21);
}